@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1,h2{
  color: #b653f0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

nav{
 
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 5px 0px 10px #cd85f7;/*largura , altura e esfuma*/
  float: left;
  padding: 67px;
  
}

/*Lista da Barra de Navegação*/
nav li{ 
  list-style: none;
  padding: 4%;
}

/*Quando passa o mouse em cima*/
nav li:hover
{
  background-color: #cd85f7;
  
}

/*Por padrão o UL tem padding*/ 
nav ul{padding: 0%;}

/*Links da Barra de navegação*/
nav ul li a{
  text-decoration: none;
  color: #b653f0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  
}

main{
  float: right;
  width: 75%;/*O que sobrou depois do NAV*/
}


.boxLogin {
  width: 70%;/*Tamanho do bloco branco*/
  padding: 1% 0 0;/*Espaçamento da barra de endereço até o bloco branco*/
  float: right;
  
}
.form {
  position: relative;/*está posicionado em relação à sua posição normal.*/
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;/*é menor que o Width*/
  padding: 45px;/*Distancia do bloco dos elementos*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);/*Sombra da caixa*/
}

#nome, #email, #endereco , #linkfoto  {
  font-family: "Roboto", sans-serif;
  outline: 0;/*Borda fora da linha*/
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#cpf , #tel , #senha  {
    font-family: "Roboto", sans-serif;
    outline: 0;/*Borda fora da linha*/
    background: #f2f2f2;
    width: 49%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#ba5af1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #c674f5;
  text-decoration: none;
}

body {
  background:#d999fd; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #d999fd, #b653f0);
  background: -moz-linear-gradient(right, #d999fd, #b653f0);
  background: -o-linear-gradient(right, #d999fd, #b653f0);
  background: linear-gradient(to left, #d999fd, #b653f0);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.radio
{
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}

.data
{width: 25%;}



main form div input{
    width: 5%;
    height: 15px;
}

main form div{
    width: 60%;
    text-align: left;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}


.button{
    text-align: center;
}

#foto
{
    width: 80%;
}

select{width: 30%;}


