/*Importação do estilo de fonte pixelada*/
@import url(http://fonts.googleapis.com/css?family=Geo&subset=latin);

/*Corpo da Página*/
body{background-color: #f78fb3;}

/*Título Principal*/
h1{
    text-align: center;
    color: white;
    font-family: 'Geo', serif;
    padding-top: 50px;
    font-size: 70px;
}

/*DIV principal*/
div
{
    width: 30%;
    height: 100%;
    background: black;
    margin: auto;
}

/*ATRIBUTOS DA IMAGEM*/
/*Div da Imagem*/
.image
{
    height: 30%;
    width: 70%;
    float: none;
}
/*Tamanho da imagem*/
img{
    width: 300px;
    height: 300px;
}

/*Botão JOGAR*/
.button {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #0a0a0a;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 150px;
    margin-left: 120px;
    font-family: 'Geo', serif;
    font-weight: bold;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .botao
  {
    width: 100%;
   
  }